*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: none;
    border: none;
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ; 
} 

.header{
    background-color:rgb(107, 161, 26);
    color: rgb(255, 255, 255);
    padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height:11vh;
  z-index: 3;
  position: fixed;
  border-bottom: 2px solid black ;
  
}
.Logo > img{
    height: 7vh;
    width: 3vw;
}
.Logo{
    font-size: x-small;
    align-items: center;
    cursor: pointer;
}
.rightSide{
    width: 70vw;
    display: flex;
    justify-content: end;
    padding-top: 30px ;
}
.Q1{
    text-align:center ;
    height: 11vh;
    position: absolute;
    left: 40%;
    padding-top: 10px;
    font-family: 'Mukta', sans-serif;
    font-size: large;
}
#home{
    margin-right: 25px;
    cursor: pointer;
    font-weight: 800;
    font-size: large;
}
#hello::before{
    content: "Hello,"
}
#hello{
        font-size: x-large;
}
.hello{
    padding-top: 25px ;   
}
a{  
    margin-left: 15px;
    margin-right: 15px;
}
.footer{
    background-color: rgb(40, 2, 40);
    height: 30vh;
    width: 100%;
}
.copyright{
    padding-top: 25vh ;
    font-family: 'Mukta', sans-serif;
    opacity: 0.5;
    color: white;
    text-align: center;
}



body{
    
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    height: 100vh;
    width: 100%;
    backdrop-filter:blur(5px);
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    color: white;
    background-image: url(https://media.giphy.com/media/G0Odfjd78JTpu/giphy.gif);
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.233);
    
}
.search-bar{
width: 50%;
margin: 0 auto;
padding-top: 20px;
display: flex;
position: relative;
justify-content: center;
text-align: center;
border-bottom: 1px solid white;
}

.search-icon{
    margin-right: 5px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.search-icon:hover {
    color: white;
}

#search-input{
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: white;
}
#search-input ::placeholder{
    color: rgh(206, 206, 206);
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 80px 50px;
}

.city-name{
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.weather-state {
    font-size: 13px;
}

.weather-icon{
    width: 70px;
    height: 70px;

}

.temperature{
    font-size: 80px;
    font-weight: 80px;
    line-height: 1;
    position: relative;
}

.temperature::after{
    content: "o";
    position: absolute;
    font-size: 30px;
}

.additional-section {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 13px;
}

.additional-section .row{
    margin-bottom: 5px;
    display: flex;
}
.additional-section .item{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.additional-section .item .label {
    font-weight: bold;
}




